
/* Colores por defecto */
:root {
  --caput: #4F3130;
  --wine: #753742;
  --redwood: #AA5042;
  --ecru: #D8BD8A;
  --flax: #D8D78F;
  --charcoal: #424B54;
  --rosy: #B38D97;
  --tea: #D5ACA9;
  --desert: #EBCFB2;
  --silver: #C5BAAF;
}

/* Atributos por defecto */
* {
  font-family: 'Poppins';font-size: 22px;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-size: 1.2rem;
  /* 1.2x16px */
  scroll-behavior: smooth;
  /* Comportamiento del desplazamiento suave */
  scroll-margin-top: 100px;
  /* Define el margen superior del área de ajuste de desplazamiento */
  transition: 0.5s ease;
}

h1 {
  margin: 22px 5px;
  padding: 8px 10px;
}

h3 {
  font-size: x-small;
}

header {
  background-color: var(--charcoal);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  position: sticky; /* Para que el menu acompañe en el desplazamiento */
  top: 0;
  z-index: 1;  /* Nivel de apilamiento de padre a hijo */
}

/*Campos del formulario */
input[type="text"]:focus,
input[type="email"]:focus {
  background-color: var(--flax);
}

input[type="submit"]:hover {
  background-color: var(--silver);
  transition-duration: 2s;
  border-radius: 20px;
}

/* Lista anidada para el menu */
nav>ul>li {
  list-style-type: none;
  display: inline;
  padding-right: 12px;
  color: white
}

/* Enlaces del menu para que no tengan subrayado */
nav>ul>li>a {
  color: var(--dutch-white);
  text-decoration:underline;
  text-decoration: none;
}

nav>ol>li>a {
  color: var(--dutch-white);
  text-decoration: none;
}

/* Clase de todos los parrafos de texto */
.intro {
  background-color: var(--caput);
  margin: 22px 5px;
  padding: 8px 10px;
}

.content {
  background-color: var(--wine);
  margin: 22px 5px;
  padding: 8px 10px;
}

.content>h2 {
  margin: 8px auto;
}

.content>p>q>a {
  color: white;
  font-size: small;
}

.content>img {
  width: 90%;
}


/* ID */
#title {
  border: 1px dotted black;
}

/* Especificaciones para las imagenes */
#main_figure {
  text-align: center;
  width: 90%;
}

#main_picture {
  width: 90%;
  opacity: 0.8;
}

figure>figcaption {
  font-size: small;
}

/* Caracteristicas del Formulario */
#contactForm {
  display: flex;
  /* Modelo flexible de caja */
  flex-direction: column;
  /* Colocacion de los objetos flexibles en el contenedor */
  justify-content: center;
  /* Distribucion de los objetos dentro del contenedor */
  align-items: center;
  /* Alineacion de los objetos descendientes */
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"],
select,
textarea {
  width: 100%;
  height: 60px;
  border-radius: 20px;
  padding: 10px;
}

/* Concretamos caracteristicas de los radiobotones */
form>div {
  display: flex;
  flex-direction: column;
  align-items: left;
}

/* Para la adaptacion a los distintos dispositivos */
@media only screen and (min-width: 700px) {

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="submit"],
  select,
  textarea {
    width: 80%;
    height: 45px;
  }

  * {
    font-size: 1.2rem;
  }

  #main_picture {
    width: 45%;
  }
}

@media only screen and (min-width: 1200px) {

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="submit"],
  select,
  textarea {
    width: 50%;
  }

  * {
    font-size: 1.6rem;
  }

  #main_picture {
    width: 100%;
  }
}

.footer>img {
  width: 30%;
  display: block;
  margin: auto;
}

.content>img {
  width: 100%;
}

/*Flecha para hacer la pagina hacia arriba*/
.ir-arriba{
  display:none;
  background-repeat:no-repeat;
  font-size:20px;
  color:black;
  cursor:pointer;
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:2;
}